<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Page</title>
</head>
<body>
    <div>
        <h1>Employee Details</h1>
        <p><strong>Name:</strong> <span th:text="${employee.name}"></span></p>
        <p><strong>Last Name:</strong> <span th:text="${employee.lastName}"></span></p>
        <p><strong>Age:</strong> <span th:text="${employee.age}"></span></p>
        <p><strong>Phone Number:</strong> <span th:text="${employee.phoneNumber}"></span></p>
        <p><strong>Address:</strong> <span th:text="${employee.street}"></span></p>
        <p><strong>Job Title:</strong> <span th:text="${employee.job}"></span></p>
    </div>
</body>
</html>